.nav-icon-container {
  float: right;
  transform: translateY(13px);
  line-height: 27px;
  width: 27px;
}

.AnswerHeader > .user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: -5px;
}
.user-icon {
  color: white;
  font-weight: 200;
  text-align: center;
  border-radius: 45px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  line-height: normal;
}

img {
  width: 100%;
}
