.head-nav-right > .user-icon {
  float: right;
  transform: translateY(13px);
  width: 27px;
  height: 27px;
  line-height: 27px;
}

.AnswerHeader > .user-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.user-icon {
  background-color: rgb(0, 136, 122);
  color: white;
  font-weight: 200;
  text-align: center;
  border-radius: 45px;
  margin-right: 10px;
  cursor: pointer;
}
