.nav-icon-container {
  float: right;
  transform: translateY(13px);
  line-height: 27px;
  width: 27px;
}

.AnswerHeader > .user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: -5px;
}
.user-icon {
  color: white;
  font-weight: 200;
  text-align: center;
  border-radius: 45px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  line-height: normal;
}

.AnswerHeader > .user-icon > div {
  background-color: #01887a;
  height: 40px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.nav-icon-container > .user-icon > div {
  background-color: #01887a;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.feed-head-icon > .user-icon > div {
  background-color: #01887a;
  font-size: 13px;
  font-weight: 400;
  height: 18px;
  text-align: center;
}

.feed-head-icon > .user-icon > div > div,
.AnswerHeader > .user-icon > div > div {
  transform: translateY(8px);
}

img {
  width: 100%;
}
