.search-bundle {
  float: left;
  max-width: 300px;
  min-width: 150px;
  width: auto;
  position: relative;
  margin-top: 13px;
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  height: 27px;
}

.search-bar {
  width: 100%;
  padding: 4px 3px 1px 3px;
}

.search-icon {
  width: 20px;
  height: 20px;
  transform: translateY(-3px);
}
input[type="search"] {
  font-size: 16px;
  border-radius: 2px;
  border: none;
  width: 250px;
}

.result-list {
  list-style-type: none;
  font-size: 18px;
}

.result-list > li {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.search-result {
  position: fixed;
  z-index: 3;
  border: 1px solid #efefef;
  background-color: white;
  margin: 20px 0 0 -30px;
  padding-right: 35px;
  border-radius: 3px;
}

.logout-btn {
  position: absolute;
  left: -35px;
  width: 200px;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms, color ease-in-out 100ms,
    background-color ease-in-out 100ms, border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.2);
  display: none;
}
.logout-btn > a {
  margin: 20px;
  cursor: pointer;
}
.nav-icon-container:hover .logout-btn {
  display: block;
}
