.answer-body {
  position: relative;
  padding-top: 10px;
}

.answer-body img {
  width: 100%;
}

.answer-info {
  margin: 10px 0 10px 0;
}

.upvote,
.downvote {
  margin: 5px 0 10px 0;
  cursor: pointer;
  min-width: 140px;
  max-width: 200px;
  font-size: 14px;
  font-weight: 500;
}

.upvote svg,
.downvote svg {
  transform: translateY(6px);
  padding-right: 10px;
}

.answer-action {
  justify-content: space-between;
  display: flex;
}

.upvoted,
.downvoted {
  color: #329bff;
}

.upvoted g,
.downvoted g {
  stroke: #329bff;
}
