.text-editor-footer {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.text-editor-header {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.text-editor-container {
  display: inline-block;
  width: 100%;
}

.ql-container {
  background-color: white;
}

.ql-editor {
  min-height: 10em;
}

.ql-toolbar {
  background-color: #fdfdfd;
}

.ql-editor {
  font-size: 15px;
}
