.text-editor-footer {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 40px;
  background: #fdfdfd;
}
.answer-body-edit {
  margin-top: 10px;
}

.text-editor-footer button {
  float: right;
  width: 60px;
  height: 27px;
  background-color: rgb(62, 120, 173);
  color: white;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms, color ease-in-out 100ms,
    background-color ease-in-out 100ms, border-color ease-in-out 100ms;
  border-radius: 3px;
  margin: 6px 13px;
  font-size: 13px;
}

.text-editor-footer a {
  margin-top: 10px;
  font-size: 13px;
  float: right;
  color: #3e78ad;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.text-editor-header {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.text-editor-container {
  display: inline-block;
  width: 100%;
}

.ql-container {
  background-color: white;
}

.ql-editor {
  min-height: 10em;
}

.ql-toolbar {
  background-color: #fdfdfd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ql-editor {
  font-size: 15px;
}
